body {
    font-family: "Manrope", sans-serif;
    padding-bottom: 700px;
    color: #18191F;
}

.margin-botton-64 {
    margin-bottom: 64px;
}

.headline1 {
    font-size: 72px;
    line-height: 1.36;
    font-weight: 900;
}

.headline2 {
    font-size: 48px;
    line-height: 1.36;
    font-weight: 800;
    margin-bottom: 8px;
}

.headline3 {
    line-height: 1.36;
    font-size: 40px;
    font-weight: 800;
}

.headline5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.36;
    margin-bottom: 8px;
}

.large-label {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.lead1 {
    font-size: 18px;
    line-height: 1.75;
    font-weight: 400;
}

.capitalized {
    text-transform: uppercase;
}

/* Container */

.container {
    width: 1110px;
    margin: auto;
}

/* Header */

.header,
.header__menu,
.header__buttons {
    display: flex;
}

.header__buttons {
margin-left: auto;
}

.header {
    position: relative;
    z-index: 99;
    align-items: center;
    height: 72px;
}

.header__logo {
    margin-right: 32px;
}

.header__menu li {
    margin-right: 32px;
}

.header__menu li:last-child {
    margin-right: 0;
}

.header__menu li a {
    color: #18191F;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}

.header__menu li a:hover {
    color: #8c30f5;
}

.header__buttons .button:first-of-type {
    margin-right: 14px;
}

/* Buttons */

.button {
background: none;
border: none;
cursor: pointer;
transform: scale(1);
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
transform: scale(1);
}

.button-medium {
border-radius: 8px;
padding: 10px 26px;
height: 40px;
line-height: 1;
font-size: 14px;
font-weight: bold;
}

.button-pink {
background-color: #f1e4ff;
color: #8c30f5;
}

.button-purple {
    background-color: #8c30f5;
    color: #fff;
}

/* Hero-1 */

.hero-1 {
    height: 866px;
    background: linear-gradient(#d9e8ef, #eaf2f5);
}

.hero-1__background-house {
    position: absolute;
    right: 0;
    top: 0;
    width: 735px;
    height: 866px;
    background-image: url('../image/house.png');
    z-index: 0;
}

.hero-1__text {
    margin-top: 220px;
    position: relative;
    z-index: 98;
}

.hero-1__text p {
    font-size: 18px;
    line-height: 1.75;
    margin-bottom: 32px;
}

.hero-1__text h1 {
    font-size: 72px;
    font-weight: 800;
    line-height: 1.36;
    margin-bottom: 16px;
}

.hero-1__text a {
    display: inline-block;
}

.hero-1__text a img {
    display: inline-block;
transition: transform 0.2s ease;
}

.hero-1__text a:hover img {
transform: scale(1.05);
}

/* Clients Logos */

.clients-logos {
margin-top: 30px;
}

.clients-logos__list {
padding: 0 110px;
display: flex;
height: 110px;
align-items: center;
}

.clients-logos__list li {
margin-right: 64px;
}

.clients-logos__list li:last-of-type {
    margin-right: 0;
}

.clients-logos__wrapper::after,
.clients-logos__wrapper::before {
    content:'';
    display: block;
    height: 1px;
    background: linear-gradient(90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%, 
    rgba(192, 204, 218, 0.1) 100%);
}

/* Features */

.features__intro {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 48px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
}

.features__list li {
    width: 33.33%;
    text-align: center;
}

.features__list li img {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-bottom: 24px;
}

.iphone-feature {
    padding: 200px 0;
}

.iphone-feature__wrapper {
    position: relative;
    background-color: #8c30f5;
    color: #fff;
    border-radius: 16px;
}

.iphone-feature__wrapper:hover .iphone-feature___image {
transform: scale(1.07);
}

.iphone-feature___image {
    top: -127px;
    right: 0;
    position: absolute;
    width: 500px;
    height: 800px;
    transition: transform 0.3s ease;
}

.iphone-feature___text {
    width: 540px;
    padding: 40px 48px;
}

.iphone-feature___text h3,
.iphone-feature___text p {
    margin-bottom: 32px;
}

.iphone-feature___text a {
    color: #fff;
    text-decoration: none;
}

