body {
    font-family: "Manrope", sans-serif;
}

/* Container */

.container {
    width: 1110px;
    margin: auto;
    position: relative;
    z-index: 1;
}

/* Header */

.header,
.header__menu,
.header__buttons {
    display: flex;
}

.header__buttons {
margin-left: auto;
}

.header {
    align-items: center;
    height: 72px;
}

.header__logo {
    margin-right: 32px;
}

.header__menu li {
    margin-right: 32px;
}

.header__menu li:last-child {
    margin-right: 0;
}

.header__menu li a {
    color: #18191F;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}

.header__menu li a:hover {
    color: #8c30f5;
}

.header__buttons .button:first-of-type {
    margin-right: 14px;
}

/* Buttons */

.button {
background: none;
border: none;
cursor: pointer;
transform: scale(1);
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
transform: scale(1);
}

.button-medium {
border-radius: 8px;
padding: 10px 26px;
height: 40px;
line-height: 1;
font-size: 14px;
font-weight: bold;
}

.button-pink {
background-color: #f1e4ff;
color: #8c30f5;
}

.button-purple {
    background-color: #8c30f5;
    color: #fff;
}

/* Hero-1 */

.hero-1 {
    height: 866px;
    background: linear-gradient(#d9e8ef, #eaf2f5);
}

.hero-1__background-house {
    position: absolute;
    right: 0;
    top: 0;
    width: 735px;
    height: 866px;
    background-image: url('../image/house.png');
    z-index: 0;
}
