body {
  font-family: "Manrope", sans-serif;
  padding-bottom: 700px;
  color: #18191f;
}

.margin-bottom-64 {
  margin-bottom: 64px;
}

.capitalized {
  text-transform: uppercase;
}

.headline1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.36;
}

.headline2 {
  font-size: 48px;
  line-height: 1.36;
  font-weight: 800;
  margin-bottom: 8px;
}

.headline3 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.36;
}

.headline5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.36;
  margin-bottom: 8px;
}

.large-label {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
}

.lead1 {
  font-size: 18px;
  line-height: 1.75;
  font-weight: 400;
}

/* Container */
.container {
  width: 1110px;
  margin: 0 auto;
}

/* Buttons */
.button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(1);
}

.button-medium {
  border-radius: 8px;
  padding: 10px 26px;
  height: 40px;
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
}

.button-pink {
  background-color: #f1e4ff;
  color: #8c30f5;
}

.button-purple {
  background-color: #8c30f5;
  color: #ffffff;
}

/* Header */

.header,
.header__menu,
.header__buttons {
  display: flex;
}

.header__buttons {
  margin-left: auto;
}

.header {
  position: relative;
  align-items: center;
  height: 72px;
  z-index: 99;
}

.header__logo {
  margin-right: 32px;
}

.header__menu li {
  margin-right: 32px;
}

.header__menu li:last-child {
  margin-right: 0;
}

.header__menu li a {
  color: #18191f;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}

.header__menu li a:hover {
  color: #8c30f5;
}

.header__buttons .button:first-of-type {
  margin-right: 14px;
}

/* Hero-1 */
.hero-1 {
  height: 866px;
  background: linear-gradient(#d9e8ef, #eaf2f5);
}

.hero-1__background-house {
  position: absolute;
  right: 0;
  top: 0;
  width: 735px;
  height: 866px;
  background-image: url("../img/hero-1.png");
  z-index: 0;
}

.hero-1__text {
  margin-top: 220px;
  position: relative;
  z-index: 98;
}

.hero-1__text h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.36;
  margin-bottom: 16px;
}

.hero-1__text p {
  margin-bottom: 32px;
}

.hero-1__text a {
  display: inline-block;
}

.hero-1__text a img {
  display: inline-block;
  transition: transform 0.2s ease;
}

.hero-1__text a:hover img {
  transform: scale(1.05);
}

/* Clients logos */

.clients-logos {
  margin-top: 30px;
}

.clients-logos__list {
  padding: 0 110px;
  display: flex;
  height: 110px;
  align-items: center;
}

.clients-logos__list li {
  margin-right: 64px;
}

.clients-logos__list li:last-of-type {
  margin-right: 0;
}

.clients-logos__wrapper::after,
.clients-logos__wrapper::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
}

/* Features */

.features__intro {
  padding-top: 80px;
  text-align: center;
  margin-bottom: 48px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__list li {
  width: 33.33%;
  text-align: center;
}

.features__list li img {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}

/* Iphone Feature */

.iphone-feature {
  padding: 200px 0;
}

.iphone-feature__wrapper {
  position: relative;
  background-color: #8c30f5;
  color: #fff;
  border-radius: 16px;
}

.iphone-feature__wrapper:hover .iphone-feature__image {
  transform: scale(1.07);
}

.iphone-feature__image {
  top: -127px;
  right: 0;
  position: absolute;
  width: 500px;
  height: 800px;
  transition: transform 0.3s ease;
}

.iphone-feature__text {
  width: 540px;
  padding: 40px 48px;
}

.iphone-feature__text h3,
.iphone-feature__text p {
  margin-bottom: 32px;
}

.iphone-feature__text a {
  color: #fff;
  text-decoration: none;
}
